.searchResults{
    margin: 0;
    padding: 0;
    list-style-type: none;

    li{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        height: 75px;
        margin-bottom: 5px;
    }
}