.scrollCard{
    width: 120px;
    max-height: 180px;
    background-color: var(--background-tint);
    
    img{
        width: 100%;
    }

}

.section {
    margin: 15px 0;
}


@media screen and (min-width: 850px) {
    .sideMenu{
        display: flex;
    }

    .mainContent{
        width: 80%;
    }
}