.scrollCard{
    width: 120px;
    height: 180px;
    max-height: 180px;
    background-color: var(--background-tint);
    animation: skeleton 3s ease-in-out 0s infinite;
    
    img{
        width: 100%;
    }

}

.section {
    margin: 15px 0;
}

@keyframes skeleton {
    0%{
        filter: brightness(1.05);
    }
    50%{
        filter: brightness(1.4);
    }
    100%{
        filter: brightness(1.05);
    }
}


@media screen and (min-width: 850px) {
    .sideMenu{
        display: flex;
    }

    .mainContent{
        width: 80%;
    }
}