.content {
    font-family: 'Montserrat', sans-serif;
    h4 {
        margin: 7px 0;
    }
    img {
        width: 100%;
    }
}

.emptyImage {
    width: 100%;
    aspect-ratio: 360/540;
    max-height: 540px;
    background-color: var(--background-tint);
}

.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.title {
    display: flex;
}

.currentSeason {
    display: flex;
    background-color: #111111;
    border-radius: 5px;
    padding: 8px;
    gap: 2em;

    .overview {
        display: none;
    }

    img {
        width: 30%;
    }
}

.rating{
    display: flex;
    align-items: center;
    border-radius: 999px;
    background: #fff;
    color: var(--background);
    font-family: 'Montserrat', sans-serif;
    width: max-content;
    padding: 1px 5px;
}

.providers {
    li {
        display: flex;
        align-items: center;
        gap: 1em;
        height: 60px;
    }
}

.seasonsButton {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    text-transform: capitalize !important;
    margin: 10px 0;
}

@media screen and (min-width: 769px){
    .content {

        img {
            width: 200px;
        }
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .currentSeasonSection {
        width: 60%;

        .overview {
            display: block;
        }
    }

    .details {
        display: flex;
        padding: 20px;
        align-items: flex-end;

        section {
            width: 60%;
            *{
                margin: 5px 0;
            }
        }
        img {
            border-radius: 5px;
        }
    }

    .providers {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 769px){
    .providers {
        ul {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .reviews {
        grid-template-columns: repeat(3, 1fr);
    }
}