.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 30%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .form {
        width: 90%;
    }
}
