@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto+Mono:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --background: #06070d;
  --primary: #5688C7;
  --text: #FCFFFC;
  --primary-2: #2C3E50;
  --primary-2-tint: #2BA84A;
  --background-tint: #111111;

  --sidebar-width: 250px;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
  scroll-behaviour: smooth;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 14px;
}
p{
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  width: 100%;
}

nav img {
  height: 45px;
}

main {
  height: max-content;
}

.sidemenu-page {
  margin-left: var(--sidebar-width);
  width: auto;
  padding: 20px 8px 0 8px; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 7px;
  padding: 0 8px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: #FCFFFC;
  border-radius: 15px;
  padding: 4px 7px;
  width: max-content;
}

@media screen and (max-width: 768px) {
  .sidemenu-page {
    --sidebar-width: 0;
  }
}
