@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Roboto+Mono:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --background: #06070d;
  --primary: #5688C7;
  --text: #FCFFFC;
  --primary-2: #2C3E50;
  --primary-2-tint: #2BA84A;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  width: 100%;
}

nav img {
  height: 45px;
}

